.animatedGradientText {
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
